@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: "Inter", sans-serif;

}

*, *::before, *::after {
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

@custom-variant dark (&:is(.dark, .dark *));


@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #fe881b;
    --color-secondary: #5f3afc;
    --color-accent: #ff6652;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #fe881b;
    --color-secondary: #5f3afc;
    --color-accent: #ff6652;
}